@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Montserrat&family=Poppins:ital,wght@0,500;0,600;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(assets/img/image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.todo__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    color: #fff;
}

.todo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
}

.todo__create-form {
    display: flex;
    gap: 5px;
}

.todo__create-input {
    flex-grow: 1;
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.todo__create-button {
    border: none;
    border-radius: 4px;
    padding: 1rem;
    background-color: #07788b;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.todo__create-button:hover {
    background-color: #0a9dbd;
}

.todo__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.task {
    padding: 1rem;
    border-bottom: 1px dashed #ccc;

}

.todo__title {
    flex: 1;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 1.5rem;
}

.task__form-update,
.task__info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.task__input {
    flex-grow: 1;
    width: 100%;
    padding: .9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    border: none;
    border-radius: 4px;
    background-color: #0abd64;
    padding: .8rem 1rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: #0c8347;
}

.button__delete {
    border: none;
    border-radius: 4px;
    background-color: #9b0000;
    padding: .8rem 1rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button__delete:hover {
    background-color: #740505;
}